
  @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
  /* .navbar { */
    /* display: grid !important; */
    /* grid-template-columns: 30% 70%  !important; */
  
  .navbar {
    opacity:0.5;
    

  }
  
  #navbarNavDropdown  {
    padding-left: 700px;
  }
  /* 按鈕樣式 */
  .button {
    padding: 8px 30px;
    border: 1px solid #000000;
    color: #000000;
    transition: 0.5s;
    margin-left: 250px;
    margin-top: 50px;
    

  
  }
  .button:hover {
    background: #118a51;
    color: #fff
  }
  /* 輪播圖 */
  #carouselExampleIndicators {
    width: 100%;
    
  }
/* news */
  #news {
    
    text-align: center;
    margin: 0px auto;
  }

  #news  h1 {
    
    font-size:20px;
    margin: 20px auto;
    text-align: center;
    color:gray;

    
  }
 



  #news p {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }


 /* story */
 #story {
  
   display: grid;
   grid-template-columns: 10% 70% 20%;
 }
 #story > div {
  display: grid;
  grid-template-columns: 50% 50%;
  

   }
 #story-hr {
  border:#000000 1px solid;
 }
 .text p {
   margin: 30px 50px 20px;
 }

.text h1 {
  text-align: center;
  margin: 0 auto 50px ;
}
.pic {
 margin-left: 300px;
}

.pic img {
  width: 500px;
  height: 400px;
  
  object-fit: cover;
 
}
/* footer */
.small {
  text-align-last: left;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 80% 20%;
  
  
}


#copy {
  font-size: 8px;
  color:white;
}
#socail  img {
  width: 40px;
  text-align: right;
  margin:250px 1px 5px; 
  
}
.logo img {
  width: 100px;
}
.small h1 {
  color:#fff;
  font-size: 100px;
  font-family: 'Sacramento', cursive;
}
.small .smallone{
  font-size: 15px;
  margin: 20px 10px 5px 100px;
  padding-top: 30px;
}



#copy {
  margin: 10px 10px 10px 20px;
  text-align: right;
}
/*  */

