
  .navbar {
    display: grid !important;
    grid-template-columns: 30% 70%  !important;

  }
  #socail img {
    width: 20px;
    margin: auto 5px;;
  }
  /* 按鈕樣式 */
  .button {
    padding: 8px 30px;
    border: 1px solid #000000;
    color: #000000;
    transition: 0.5s;
    margin-left: 200px;
    

  
  }
  .button:hover {
    background: #118a51;
    color: #fff
  }
/* news */
  #news {
    text-align: center;
    margin: 100px auto;
  }

  #news  h1 {
    font-size:20px;
    margin: 20px auto;
    text-shadow: rgba(0,0,0,0.5);
    color:gray;
    
  }
 



  #news p {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }


 /* story */
 #story > div {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
   }
 #story-hr {
  border:#000000 1px solid;
 }
 .text p {
   margin: 30px;
 }

.text h1 {
  text-align: center;
  margin: 0 auto 50px ;
}

.pic img {
  width: 500px;
  height: 400px;
  
  object-fit: cover;
 
}